body {
    font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    background: url(../images/pattern.png) repeat;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

a {
    color: #3366bb;
    text-decoration: none;
    margin-right: 20px;

    padding: 7px 13px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
#csv-file {
    
}

#search {
    color: #fff;
    border: 1px solid #3e8b2d;
    background-color: #62c462;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);


    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
